@import './partials/colors';

:local(.main) {
  background: transparent;
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 6px 8px;
  transition: background 250ms ease-in-out;
  &:hover {
    background-color: $brand-primary-light;
    color: #FFF;
    cursor: pointer;
  }
}

:local(.selected) {
  background-color: $brand-primary;
}

:local(.arial) { font-family: arial }
:local(.courier) { font-family: courier }
:local(.comic_sans) { font-family: 'Comic Sans MS', cursive, sans-serif; }
:local(.cursive) { font-family: cursive }
:local(.georgia) { font-family: georgia }
:local(.lato) { font-family: 'Lato', sans-serif }
:local(.monospace) { font-family: monospace }
:local(.open_sans) { font-family: 'Open Sans' }
:local(.roboto) { font-family: 'Roboto', sans-serif }
:local(.tahoma) { font-family: Tahoma, Geneva, sans-serif }
:local(.times_new_roman) { font-family: 'Times New Roman', Times, serif }
