@import './partials/colors';

:local(.main) {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-height: 400px;
}

:local(.fonts) {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

:local(.resetButton) {
  background: 0;
  border: 0;
  color: $gray;
  cursor: pointer;
  font-size: 12px;
  outline: 0;
  position: absolute;
  top: 4px;
  right: 4px;
  transition: color 250ms ease-in-out;
  &:hover {
    color: $brand-primary;
  }
}
