@import './partials/colors';

:local(.main) {
  min-width: 200px;
}

:local(.header) {
  font-family: sans-serif;
  font-size: 18px;
}

:local(.fonts) {
  display: flex;
  flex-direction: column;
}

:local(.resetButton) {
  background: 0;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  outline: 0;
  text-decoration: underline;
  position: absolute;
  top: 4px;
  right: 4px;
  transition: color 250ms ease-in-out;
  &:hover {
    color: $brand-primary;
  }
}
